---
import Layout from '../layouts/Layout.astro';
let allPosts = await Astro.glob('../pages/works/*.mdx');
// order all posts by date, those with no date are put at the end
allPosts.sort((a, b) => {
  if (a.frontmatter.publishDate && b.frontmatter.publishDate) {
    return new Date(b.frontmatter.publishDate) - new Date(a.frontmatter.publishDate);
  } else if (a.frontmatter.publishDate) {
    return -1;
  } else if (b.frontmatter.publishDate) {
    return 1;
  } else {
    return 0;
  }
});
// filter out posts that are unlisted
allPosts = allPosts.filter((post) => !post.frontmatter.unlisted);

// setup a date format 
const dateFormat = new Intl.DateTimeFormat('fr-FR', { year: 'numeric', month: 'long', day: 'numeric' });
---

<Layout title="Travaux">
  <h2 class="text-5xl font-bold mb-4 text-gray-950 dark:text-gray-50 text-center">Travaux</h2>

  <ul>
    {allPosts.map((post) => <li class="hover:bg-gray-200/50 dark:hover:bg-gray-900 transition-colors mb-3 rounded-lg px-6 py-4"><a href={post.url}>
      <div class="mb-2">
        <h3 class="text-3xl font-semibold mb-1 text-gray-950 dark:text-gray-50">{post.frontmatter.title}</h3>
        <span class="whitespace-nowrap text-sm leading-6">
          { post.frontmatter.publishDate && <p>{dateFormat.format(new Date(post.frontmatter.publishDate))}</p> }
        </span>
      </div>
      <p>{post.frontmatter.description}</p>
    </a></li>)}
  </ul>

</Layout>