---

---
<!-- make it sticky and centered -->
<header class="sticky top-4 z-50 w-auto mx-auto flex items-center justify-between px-4 py-3 bg-white/30 text-gray-700 dark:bg-gray-900/30 dark:text-gray-100 rounded-3xl backdrop-blur-xl border border-gray-200 dark:border-gray-800 shadow-lg">
    <!-- afficher le h1 que si on est pas sur index -->
    <nav>
        <a href="/">Home</a>
        <span class="mx-2 opacity-50">•</span>
        <a href="/about">About</a>
        <!-- 
        <span class="mx-2 opacity-50">•</span>
        <a href="/blog">Blog</a> 
        -->
        <span class="mx-2 opacity-50">•</span>
        <a href="/works">Projets</a>
    </nav>
</header>