---

---
<!-- make it sticky and centered -->
<header class="sticky z-50 top-0 px-4 py-3 bg-white/30 text-gray-700 dark:bg-gray-900/30 dark:text-gray-100 backdrop-blur-xl border-b border-gray-200/30 dark:border-gray-800/30  shadow-lg">
    <!-- afficher le h1 que si on est pas sur index -->
    <nav class="flex flex-row items-center justify-between ">
        <h1 class="w-auto font-bold text-2xl tracking-tight"><a href="/">Maxence Lavenu</a></h1>
        <div>
            <a href="/works">Travaux</a>
            <!-- 
                <span class="mx-2 opacity-50">•</span>
                <a href="/blog">Blog</a> 
            -->
            <span class="mx-2 opacity-50">•</span>
            <a href="/projects">Projets</a>
        </div>
    </nav>
</header>