---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';

export interface Props {
	title: string;
	// make noTitle optional and default to false
	noTitle?: boolean;
	containerClasses?: string;
}

const { title, noTitle, containerClasses } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col min-h-screen justify-center mx-auto w-full bg-gray-50 dark:bg-gray-950 overflow-x-hidden">
		<Navbar/>
		<img src="/assets/img/gradient.svg" class="-bottom-1/3 -right-1/3 object-cover z-10 w-screen opacity-0 dark:opacity-25 fixed"/>

		<div class="flex flex-col text-gray-600 dark:text-gray-400 mb-4 grow max-w-6xl mx-auto px-2 z-20 sm:px-16">
			<!-- add rounded bottom radius -->
			<main class={containerClasses + " " +"grow px-4 py-8 sm:px-16 sm:py-8 w-full max-w-6xl mx-auto"}>
				<slot />
			</main>
			<Footer/>
		</div>

	</body>
</html>